{% load static %}
{% url 'profile' as profiles_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Foodie</title>
</head>
<body>
    <H1>I AM A BASE.HTML PAGE</H1>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

</body>
</html>