{% load static %}
{% url 'logs' as logs_url %}
{% url 'stats' as stats_url %}
{% url 'profile' as profiles_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Foodie</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" 
    crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{% static 'css/styles.css' %}"
    rel="stylesheet">

</head>
    <body class="d-flex flex-column h-100 main-bg">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md w-100">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"
                    ><span class="brand"><img id="navbar-logo-base" src="{% static 'images/Logo_No_Background.png' %}" alt="Little Foodie Logo"></span
                    ></a
                >
                <div class="ms-auto">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarText"
                    aria-controls="navbarText"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-2">
                        <a class="nav-link{% if request.path == logs_url %} active fw-bold{% endif %}" aria-current="page"
                            href="{% url 'logs' %}">Food Logs</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link{% if request.path == stats_url %} active fw-bold{% endif %}" aria-current="page"
                            href="{% url 'stats' %}">Stats</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link{% if request.path == profiles_url %} active fw-bold{% endif %}" aria-current="page"
                            href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                </ul>
                </div>
                </div>
            </div>
        </nav>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    <footer id="contact" class="footer d-flex mt-auto justify-content-center text-center align-items-center">
        <div class="container py-2">
            <div class="row align-items-center">
                <div class="col-4">
                    <a class="footer-icon" href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)">
                        <i class="fa-brands fa-facebook" aria-hidden="true"></i>About this app</a>
                </div>
                <div id="copyright-home" class="col-4">
                    {% block copyright %}
                    Copyright 2025 - calculatedCode
                    {% endblock %}
                </div>
                <div class="col-4">
                    <a class="footer-icon" href="https://maps.app.goo.gl/TjEtaQj59vY42m9n8" target="_blank" rel="noopener" aria-label="Visit our Google Maps main training location page (opens in a new tab)">
                        <i class="fa-solid fa-location-dot" aria-hidden="true"></i>Contact Us</a>
                </div>
            </div>
        </div>
    </footer>

        <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>

</body>
</html>